$menu_color: #c4efff;
.main-menu{
  background: $menu_color;
  a{
    &:hover{
      background: darken($menu_color, 10%);
    }
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
  }
}