%border{
  border: 1px solid lightgray;
  border-radius: 5px;
}
.calculator{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  max-width: 600px;
  >*{
    margin: 0 5px;
    padding: 5px 10px;
  }
  input{
    max-width: 100px;
    text-align: center;
    box-sizing: border-box;
    @extend %border;
  }
  button{
    @extend %border;
  }
  select{
    @extend %border;
  }
  .calc-save{
    margin-left: auto;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    img{
      height: 22px;
    }
  }
  .error{
    color: red;
  }
}