%border{
  border: 1px solid lightgray;
  border-radius: 5px;
}
input{
  @extend %border;
  padding: 5px 10px;
}
label{
  margin-left: 5px;
  margin-right: 20px;
}
.calculator{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  >*{
    margin: 0 5px;
    padding: 5px 10px;
  }
  input{
    max-width: 100px;
    text-align: center;
    box-sizing: border-box;
    @extend %border;
  }
  button{
    @extend %border;
  }
  select{
    @extend %border;
  }
  .calc-save{
    &:disabled{
      opacity: .5;
    }
    margin-left: auto;
    margin-right: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    img{
      height: 22px;
    }
  }
  .error{
    color: red;
  }
}