%border {
  border: 1px solid lightgray;
}

.info-table {
/*  display: grid;
  grid-template-columns: auto auto 1fr 1fr auto;*/
  /*  >*:nth-child(8n+1), >*:nth-child(8n+2), >*:nth-child(8n+4){
      background: #efefef;
    }*/
  .table-head{
    font-weight: bold;
    padding: 0 10px;
  }
  .item {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .edit-item {
    display: flex;
    align-items: center;

    span {
      padding: 10px;
      line-height: 20px;
      display: block;
      width: 100%;
    }

    input {
      display: none;
      height: 100%;
    }
  }

  .edit {
    span {
      display: none;
    }

    input {
      display: block;
    }
  }

  button {
    @extend %border;
    padding: 0 10px;
    background: white;
  }

  .controls {
    display: flex;
    flex-direction: column;

    &.first-row {
      justify-content: flex-end;
    }

    & > * {
      padding: 0 5px;
      cursor: pointer;

      &:hover {
        opacity: .5;
      }
    }
  }
  .row{
    border: 1px dashed gray;
    display: flex;
  }
  .col1{
    width: 24px;
    box-sizing: border-box;
  }
  .col2{
    width: 40px;
    box-sizing: border-box;
  }
  .col3{
    width: calc(50% - 57px);
    box-sizing: border-box;
  }
  .col4{
    width: calc(50% - 57px);
    box-sizing: border-box;
  }
  .col5{
    width: 50px;
    box-sizing: border-box;
  }
}